body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px;
  justify-content: center;
}

.bg-light-green {
  background-color: lightgreen;
}

.pa3 {
  padding: 10px;
}

.ma2 {
  margin: 10px;
}

.dib {
  width: 240px;
  text-align: center;
}

.grow {
  transition: transform 0.5s ease-out;
}

.grow:hover {
  transform: scale(1.1);
  border: 3px solid #fff;
}

.shadow-5 {
  box-shadow: 1px 5px #fff;
}

.br3 {
  border-radius: 10px;
}